<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aiit.dao.SysUserDao">
    <select id="getUserByName"  parameterType="string" resultType="SysUser">
        select * from  sys_user where username = #{0}
    </select>

    <insert id="insertSysUser" parameterType="SysUser">
        INSERT INTO sys_user(username,password,salt) VALUE (#{username},#{password}, #{salt})
    </insert>
</mapper>
